<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body" *ngIf="product">
    <div class="wizard">
      <a>Basic Information</a>
      <a>Search Tags</a>
    </div>
    <!-- location for child templates to display -->
    <router-outlet></router-outlet>
    <div class="row mb-2">
      <div class="col-md-4">
        <button class="btn btn-primary mr-3" style="width: 80px" type="button" title="Save entered data"
          (click)="saveProduct()"> Save </button>

        <button class="btn btn-secondary mr-3" style="width: 80px" type="button" title="Cancel edits"
          [routerLink]="['/products']"> Cancel </button>

        <button class="btn btn-outline-danger mr-3" style="width: 80px" type="button" title="Delete this product"
          (click)="deleteProduct()"> Delete </button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
</div>