<div class="container">
    <h2>User Settings</h2>
    <form>

        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" placeholder="Please enter your Name" />
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" value="" id="subscription">
            <label class="form-check-label" for="subscription">
                Subscribe to Offers
            </label>
        </div>

        <div class="mt-2 border">
            <h5>User Interface Style</h5>
            <!-- radio buttons require the same name to work in sync -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioInterface" id="flexRadioInterfaceLight">
                <label class="form-check-label" for="flexRadioInterface1">
                    Light
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioInterface" id="flexRadioInterfaceMedium"
                    checked>
                <label class="form-check-label" for="flexRadioInterface2">
                    Medium
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioInterface" id="flexRadioInterfaceDark"
                    checked>
                <label class="form-check-label" for="flexRadioInterface2">
                    Dark
                </label>
            </div>
        </div>

        <div class="mt-2 border">
            <label for="subscriptionType">Subscription Type</label>
            <select class="form-select" id="subscriptionType" aria-label="subscription type">
                <option value="1">Monthly</option>
                <option value="2">Annual</option>
                <option value="3">Lifetime</option>
            </select>
        </div>

        <div class="mt-2 border">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" class="form-control" rows="3"></textarea>
        </div>

        <div class="mt-2 border">
            <label for="password">Password</label>
            <!-- for the password field to work, set type to "password" -->
            <input type="password" id="password" name="password" class="form-control"/>
        </div>

        <div class="mt-2">
            <button class="btn btn-primary">Ok</button>
        </div>
    </form>
</div>