<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-2">
                Filter by:
            </div>
            <div class="col-md-4">
                <input type="text" 
                [(ngModel)]="listFilter"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>
                    Filtered by: {{listFilter}}
                </h4>
            </div>
        </div>
        <div class="table">
            <table class="table" *ngIf='products.length'>

                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)='toggleImage()'>
                                {{showImage ? "Hide" : "Show"}} Image
                            </button>
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Available
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            5 Star Rating
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of performFilter()">
                        <td>
                            <img *ngIf="showImage" [src]="product.imageUrl" [title]='product.productName' [style.width.px]='imageWidth'
                                [style.margin.px]="imageMargin">
                        </td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode | lowercase | convertToSpaces:'-'}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency}}</td>
                        <td><pm-star [rating] = "product.starRating" 
                            (ratingClicked)="onRatingClicked($event)"> </pm-star></td>
                            <!--
                                Step 3:
                                    1. The outside container must listen for the nested event's output
                                        Bind to the event emited from the nested component 
                                        (ratingClicked) is the event listened for

                                    2.  When event is triggered we call a function inside the 
                                        product-list.component.ts to handle it (onRatingClicked($event)), passing in event data 
                                        $event passes any data associated with triggering the event, (string from onClick() in star.component.ts) 
                                    3.  The onRatingClicked($event) function must be implemented to handle event data (now we're in the parent container)
                                        onRatingLicked is implmemented in parent container of star.component, which is product-list.component.ts
                                        
                                    -->
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>