<!-- add routerLink for navigation to the events' id-->
<div [routerLink]="['/events', event.id]" class="well hoberwell thumbnail">
    <!-- one way binding interpolation -->
    <!-- look for object named event and access it's name parameter -->
    <!-- Safe navigation operator "?" prevents undefined errors from occuring -->
    <!-- using ngClass we can call a function to get a list of classes to apply to the element -->
    <h2 [ngClass]="getNameClasses()">{{event.name | uppercase}}</h2>
    <img src="{{event.imageUrl}}">
    <div>Date: {{event.date}}</div>
    <!-- ngSwitch can be used to render elements based on specific criteria -->
    <!-- ngclass can be used to dynamically inject class based on equality conditions -->
    <div [ngClass]="{red: event.time ==='8:00 am', bold: event.time === '8:00 am'}" [ngSwitch]="event.time">
        Time: {{event.time}}
        <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
        <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
        <span *ngSwitchDefault>(Normal Start)</span>
    </div>
    <!-- A class can be injected based on equality operators
         Note: this is base HTML and not angular -->
    <div [class.green]="event.price! > 0">Price: {{event.price | currency}}</div>
    <!-- *ngIf can be used to render entire elements if they exist
         note: ngIf remove the entire element from DOM and doesn't just hide it
         this works great for elements that aren't rendered frequently -->
    <div *ngIf="event?.location">
        <!-- Safe navigation operator can be used anytime a parameter is allowed to be null -->
        <!-- styles can be injected using the style parameter with base html and conditions -->
        <span [style.color]="event.location?.address === 'someCondition' ? 'purple' : 'orange'">Location:
            {{event.location?.address}}</span>
        <br>
        <!-- we can also use angular [ngStyle=""] to directly inject styles, note the parameters are not
         referenced in the dom binding but in the {} -->
        <span [ngStyle]="{'color':event.location?.address}">{{event.location?.city}},
            {{event.location?.country}}</span>
    </div>
    <!-- For items that will be rendered frequetly we can hide them if they don't exist
         this provides better performance when compared to ngIf, if the item/element/component
         is rendered frequetly  -->
    <div [hidden]="!event.onlineUrl">Class URL: {{event.onlineUrl}}</div>
    <!-- create button and add click event -->
    <button class="btn btn-primary" (click)="handleClickMe()">Click Me!</button>
</div>