<!-- reactive forms are difference since all fields and validations is done in the component and not html.
allows validation logic to be unit testable -->

<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
        <!-- bind form element to profileForm form component
        on submit pass the prfileForm data to the saveProfile function -->
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <!-- bind inputs to profileForm properties -->
                <input formControlName="firstName" id="firstName" type="text" class="form-control"
                    placeholder="First Name..." />
            </div>
            <div class="form-group">
                <!-- bind inputs to profileForm properties -->
                <label for="lastName">Last Name:</label>
                <input formControlName="lastName" id="lastName" type="text" class="form-control"
                    placeholder="Last Name..." />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>