<div>
    <h1>Upcoming Angular Events</h1>
    <!-- render event thumbnail and pass in an event object for the child component to bind to -->
    <!-- for the [event] expected in <event-thumbnail> pass in "event1" defined in <event-list> -->
    <!-- add event handler to parent to catch event emitted from child component event emitter -->
    <!-- Add ngFor to render from each event the list of events -->
    <app-event-thumbnail *ngFor="let event of events" [event]="event" (eventClick)="handleEventClicked($event)"></app-event-thumbnail>
</div>